@import "tailwindcss";

@theme {
  --color-ink: #16161a;
  --color-ink-soft: #5f5f64;

  --color-white-ink: #f7f7f7;
  --color-white-ink-soft: #c2c2c2;

  --color-accent-ink: #0f766e;
  --color-accent-ink-soft: #2a9d95;

  --color-destructive-ink: #d7294f;
  --color-success-ink: #15803d;
  --color-warning-ink: #d97706;
  --color-info-ink: #2563eb;

  --font-headline: var(--font-headline)
    /*
  OLD
  --color-accent-ink: #a1ab91;
  --color-accent-ink-soft: #b7beaa; */;
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: var(--color-ink-soft);
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--color-ink-soft);
  }
}

#main {
  color: var(--color-ink-soft);
}

#main-background {
  background-color: var(--color-white-ink);
  background-image: url("@/assets/backgrounds/bg-light.svg");
}

body {
  overflow: hidden;
  min-height: 100dvh;

  font-family: var(--font-paragraph);
  font-variant-numeric: tabular-nums;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-white-ink);
}

@layer base {
  * {
    border-color: var(--color-ink);
  }
}
